@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,400;0,700;1,200;1,300&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #585858;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #133c55;
}

::-webkit-scrollbar-thumb {
  background-color: #5fbb97;
  border-radius: 5px;
  border: 1px solid #5fbb9879;
}

header .navbar {
  width: 100%;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0 2px 10px #0000001a;
          box-shadow: 0 2px 10px #0000001a;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-left {
  padding-left: 2vw;
}

header .navbar-left img {
  width: 90px;
  height: 90px;
}

header .navbar-right {
  padding-right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-right img {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  margin-left: 5px;
  border-radius: 10%;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  -webkit-box-shadow: 0px 7px 15px 5px #cbc3c1;
          box-shadow: 0px 7px 15px 5px #cbc3c1;
}

header .content .background {
  width: 100vw;
  height: 90vh;
  position: absolute;
  z-index: -1;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
}

header .content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 90px;
  margin-top: 3rem;
  text-align: center;
}

header .content__title h1 {
  font-size: 5rem;
  font-weight: bold;
  text-decoration: underline;
  color: #fbfbfb;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 2rem;
}

header .content__title h2 {
  font-size: 2rem;
  color: #fbfbfb;
  text-shadow: 0px 1px 1px black;
}

main section {
  background: #fbfbfb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(84%, #fbfbfb), to(#c8c0be));
  background: linear-gradient(0deg, #fbfbfb 84%, #c8c0be 100%);
  margin-top: -4.5rem;
}

main section .list {
  padding: 3rem 0;
}

main section .list__content {
  margin-bottom: 6rem;
}

main section .list__content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

main section .list__content__title svg {
  width: 50px;
}

main section .list__content__title__text {
  text-align: left;
}

main section .list__content__title__text h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

main section .list__content__title__text span {
  font-style: italic;
  font-size: bold;
  font-size: 1.1rem;
  color: black;
  background-color: #fed766;
  border-radius: 2rem;
  padding: 5px 15px;
  margin-left: 0.5rem;
}

main section .list__right-content {
  margin-bottom: 6rem;
  text-align: right;
}

main section .list__right-content__title {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 2rem;
}

main section .list__right-content__title svg {
  width: 50px;
}

main section .list__right-content__title__text h3 {
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main section .list__right-content__title__text span {
  font-style: italic;
  font-size: bold;
  font-size: 1.1rem;
  color: black;
  border-radius: 2rem;
  padding: 5px 15px;
  margin-right: 0.5rem;
}

main .bms-presentation {
  background-color: #f6743c;
  margin-top: -60px;
  padding-top: 7rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px -9px 5px 0px #94381e inset;
          box-shadow: 0px -9px 5px 0px #94381e inset;
}

main .bms-presentation h3 {
  margin-right: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main .bms-presentation span {
  font-style: italic;
  font-size: bold;
  font-size: 1.1rem;
}

main .bms-presentation p {
  margin: 2rem 0;
}

footer {
  background-color: #fbfbfb;
  -webkit-box-shadow: 0px 17px 9px -px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 0px 17px 9px -px rgba(0, 0, 0, 0.75) inset;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer section img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150px;
  height: auto;
}

footer section .public-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer section .public-list a {
  color: white;
  background-color: #5fbb97;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 1rem 2rem;
}

footer section .tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

footer section .tech-list a {
  color: white;
  width: 150px;
  background-color: #133c55;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  padding: 15px 10px;
}

footer section p {
  margin: 2rem 0 1rem 0;
}

.util-mx {
  padding-left: 1rem;
  padding-right: 1rem;
}

.util-bold {
  font-weight: bold;
}

.util-c1 {
  fill: #133c55;
}

.util-c2 {
  fill: #5fbb97;
}

.util-c3 {
  fill: #fed766;
}

.util-c4 {
  fill: #f6743c;
}

.util-c5 {
  fill: #d85531;
}

a {
  text-decoration: none;
  color: black;
}

.custom-shape-divider-top-1667476280 {
  position: relative;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667476280 svg {
  position: relative;
  display: block;
  width: calc(169% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1667476280 .shape-fill {
  fill: #fbfbfb;
}

.custom-shape-divider-top-1667477046 {
  position: relative;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667477046 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1667477046 .shape-fill {
  fill: #f6743c;
}

.card {
  position: relative;
  margin-top: 2rem;
  width: 100vw;
  height: 350px;
}

.card--image {
  height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-top: 100px;
}

.card--image img {
  height: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card--info {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  position: absolute;
  -webkit-transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
  transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
  overflow: hidden;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05), 0 0px 2.2px rgba(0, 0, 0, 0.045), 0 0px 5.3px rgba(0, 0, 0, 0.065), 0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095), 0 0px 33.4px rgba(0, 0, 0, 0.115), 0 0px 80px rgba(0, 0, 0, 0.16), 0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02), 0 1.1px 10px rgba(0, 0, 0, 0.025), 0 2px 17.9px rgba(0, 0, 0, 0.03), 0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05), 0 0px 2.2px rgba(0, 0, 0, 0.045), 0 0px 5.3px rgba(0, 0, 0, 0.065), 0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095), 0 0px 33.4px rgba(0, 0, 0, 0.115), 0 0px 80px rgba(0, 0, 0, 0.16), 0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02), 0 1.1px 10px rgba(0, 0, 0, 0.025), 0 2px 17.9px rgba(0, 0, 0, 0.03), 0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);
}

.card--info::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), color-stop(50%, rgba(0, 0, 0, 0.25)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 100%);
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 550ms ease;
  transition: opacity 550ms ease;
}

.card--info.info--1 {
  bottom: 43%;
  right: 20%;
}

.card--info.info--1 .info--image img {
  top: -30%;
  left: -160%;
}

.card--info.info--2 {
  bottom: -10%;
  right: 65%;
}

.card--info.info--2 .info--image img {
  right: -40%;
  bottom: -120%;
}

.card--info .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.card--info .info--text {
  display: block;
  position: absolute;
  left: 10%;
  bottom: 5%;
  font-size: 0.55rem;
  letter-spacing: 1px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, -webkit-transform 250ms ease;
  transition: opacity 250ms ease, transform 250ms ease;
  transition: opacity 250ms ease, transform 250ms ease, -webkit-transform 250ms ease;
}

.card--info .info--image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card--info .info--image img {
  position: absolute;
  width: 340%;
  height: 340%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: opacity 550ms ease;
  transition: opacity 550ms ease;
}

.card:hover .card--info {
  --size: 110px;
}

.card:hover .card--info::after {
  opacity: 1;
}

.card:hover .card--info.info--1 {
  right: -5%;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.card:hover .card--info.info--2 {
  right: 70%;
}

.card:hover .card--info .info--image img {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.card:hover .card--info .info--text {
  -webkit-transition-delay: 550ms;
          transition-delay: 550ms;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media (min-width: 1250px) {
  .util-mx {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .navbar .navbar-left,
  .navbar .navbar-right {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  header .content {
    height: 100vh;
  }
  header .content .background {
    width: 100%;
    height: 100%;
    -o-object-fit: fill !important;
       object-fit: fill !important;
  }
}
/*# sourceMappingURL=style.css.map */