@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,400;0,700;1,200;1,300&display=swap');
//Other font : Montserrat

$navbar-height: 90px;
$c-1: #133c55;
$c-2: #5fbb97;
$c-2-transparent: #5fbb9879;
$c-3: #fed766;
$c-4: #f6743c;
$c-5: #d85531;

body {
  box-sizing: border-box;
  background-color: rgb(88, 88, 88);
  font-family: 'Nunito', sans-serif;

  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $c-1;
}

::-webkit-scrollbar-thumb {
  background-color: $c-2;
  border-radius: 5px;
  border: 1px solid $c-2-transparent;
}

header {
  .navbar {
    width: 100%;
    background-color: #fbfbfb;
    box-shadow: 0 2px 10px #0000001a;

    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      padding-left: 2vw;
      img {
        width: $navbar-height;
        height: $navbar-height;
      }
    }

    &-right {
      padding-right: 2vw;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        padding: 0.5rem;
        margin-left: 5px;
        border-radius: 10%;
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
    box-shadow: 0px 7px 15px 5px #cbc3c1;

    .background {
      width: 100vw;
      height: 90vh;
      position: absolute;
      z-index: -1;
      object-fit: none;
      object-position: 50% 65%;
    }

    &__title {
      display: flex;
      flex-direction: column;

      position: absolute;
      top: $navbar-height;
      margin-top: 3rem;

      text-align: center;

      h1 {
        font-size: 5rem;
        font-weight: bold;
        text-decoration: underline;
        color: #fbfbfb;
        text-shadow: 1px 1px 2px black;
        margin-bottom: 2rem;
      }

      h2 {
        font-size: 2rem;
        color: #fbfbfb;
        text-shadow: 0px 1px 1px black;
      }
    }
  }
}

main {
  section {
    background: rgb(251, 251, 251);
    background: linear-gradient(0deg, rgba(251, 251, 251, 1) 84%, rgba(200, 192, 190, 1) 100%);

    margin-top: -4.5rem;
    .list {
      padding: 3rem 0;

      &__content {
        margin-bottom: 6rem;
        &__title {
          display: flex;
          margin-bottom: 2rem;

          svg {
            width: 50px;
          }

          &__text {
            text-align: left;

            h3 {
              text-transform: uppercase;
              font-weight: bold;
              font-size: 1.5rem;
              margin-bottom: 1rem;
              margin-left: 1rem;
            }

            span {
              font-style: italic;
              font-size: bold;
              font-size: 1.1rem;
              color: black;
              background-color: #fed766;
              border-radius: 2rem;
              padding: 5px 15px;
              margin-left: 0.5rem;
            }
          }
        }
      }

      &__right-content {
        margin-bottom: 6rem;
        text-align: right;
        &__title {
          text-align: right;

          display: flex;
          flex-direction: row-reverse;
          margin-bottom: 2rem;

          svg {
            width: 50px;
          }

          &__text {
            h3 {
              margin-right: 1rem;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }

            span {
              font-style: italic;
              font-size: bold;
              font-size: 1.1rem;
              color: black;

              border-radius: 2rem;
              padding: 5px 15px;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }

  .bms-presentation {
    background-color: $c-4;
    margin-top: -60px;
    padding-top: 7rem;
    padding-bottom: 1rem;
    box-shadow: 0px -9px 5px 0px #94381e inset;

    h3 {
      margin-right: 1rem;
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    span {
      font-style: italic;
      font-size: bold;
      font-size: 1.1rem;
    }

    p {
      margin: 2rem 0;
    }
  }
}

footer {
  background-color: #fbfbfb;
  box-shadow: 0px 17px 9px -px rgba(0, 0, 0, 0.75) inset;

  section {
    display: flex;
    flex-direction: column;

    padding-top: 1rem;
    padding-bottom: 1rem;

    text-align: center;

    img {
      align-self: center;
      width: 150px;
      height: auto;
    }

    .public-list {
      display: flex;
      flex-direction: column;

      a {
        color: white;
        background-color: $c-2;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        padding: 1rem 0.5rem 1rem 0.5rem;
        margin: 1rem 2rem;
      }
    }

    .tech-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 1rem;

      a {
        color: white;
        width: 150px;
        background-color: $c-1;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        padding: 15px 10px;
      }
    }

    p {
      margin: 2rem 0 1rem 0;
    }
  }
}

.util-mx {
  padding-left: 1rem;
  padding-right: 1rem;
}

.util-bold {
  font-weight: bold;
}

.util-c1 {
  fill: $c-1;
}

.util-c2 {
  fill: $c-2;
}
.util-c3 {
  fill: $c-3;
}
.util-c4 {
  fill: $c-4;
}
.util-c5 {
  fill: $c-5;
}

a {
  text-decoration: none;
  color: black;
}

// Wave from shapedivider.app
.custom-shape-divider-top-1667476280 {
  position: relative;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 60px;
  }

  .shape-fill {
    fill: #fbfbfb;
  }
}

// Triangle from shapedivider.app
.custom-shape-divider-top-1667477046 {
  position: relative;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .shape-fill {
    fill: $c-4;
  }
}

//------------//
// Additional
//------------//

.card {
  position: relative;
  margin-top: 2rem;
  width: 100vw;
  height: 350px;

  &--image {
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin-top: 100px;
    img {
      height: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--info {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    position: absolute;
    transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025),
      0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05), 0 0px 2.2px rgba(0, 0, 0, 0.045),
      0 0px 5.3px rgba(0, 0, 0, 0.065), 0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095), 0 0px 33.4px rgba(0, 0, 0, 0.115),
      0 0px 80px rgba(0, 0, 0, 0.16), 0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02), 0 1.1px 10px rgba(0, 0, 0, 0.025),
      0 2px 17.9px rgba(0, 0, 0, 0.03), 0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 100%);
      z-index: 1;
      opacity: 0;
      transition: opacity 550ms ease;
    }

    &.info--1 {
      bottom: 43%;
      right: 20%;
      .info--image {
        img {
          top: -30%;
          left: -160%;
        }
      }
    }

    &.info--2 {
      bottom: -10%;
      right: 65%;
      .info--image {
        img {
          right: -40%;
          bottom: -120%;
        }
      }
    }

    .icon {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

    .info--text {
      display: block;
      position: absolute;
      left: 10%;
      bottom: 5%;
      font-size: 0.55rem;
      letter-spacing: 1px;
      font-family: 'Montserrat';
      font-weight: bold;
      color: #fff;
      white-space: nowrap;
      z-index: 2;
      opacity: 0;
      transform: translateY(25%);
      transition: opacity 250ms ease, transform 250ms ease;
    }

    .info--image {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        position: absolute;
        width: 340%;
        height: 340%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 550ms ease;
      }
    }
  }

  &:hover {
    .card--info {
      --size: 110px;
      &::after {
        opacity: 1;
      }
      &.info--1 {
        right: -5%;
        transition-delay: 100ms;
      }
      &.info--2 {
        right: 70%;
      }
      .info--image {
        img {
          opacity: 1;
          transform: scale(1.5);
        }
      }
      .info--text {
        transition-delay: 550ms;
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }
}

//-----------
// RESPONSIVE DESKTOP
//-----------

@media (min-width: 1250px) {
  .util-mx {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .navbar {
    .navbar-left,
    .navbar-right {
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }

  header .content {
    height: 100vh;
    .background {
      width: 100%;
      height: 100%;
      object-fit: fill !important;
    }
  }
}
