@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,400;0,700;1,200;1,300&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fbfbfb;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #133c55;
}

::-webkit-scrollbar-thumb {
  background-color: #5fbb97;
  border-radius: 5px;
  border: 1px solid #5fbb9879;
}

a {
  color: #5fbb97 !important;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

a:hover {
  color: #f6743c !important;
}

header {
  background-color: #d1e5d9;
}

header .navbar {
  width: 100%;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0 2px 10px #0000001a;
          box-shadow: 0 2px 10px #0000001a;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-left {
  padding-left: 2vw;
}

header .navbar-left img {
  width: 90px;
  height: 90px;
}

header .navbar-right {
  padding-right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-right img {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  margin-left: 5px;
  border-radius: 10%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

header .navbar-right img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 7px 15px 5px #cbc3c1;
          box-shadow: 0px 7px 15px 5px #cbc3c1;
}

header .content__title {
  top: 90px;
  margin-top: 3rem;
  text-align: center;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

header .content__title h1 {
  font-size: 4rem;
  font-weight: bold;
  text-decoration: underline;
  color: #fbfbfb;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 2rem;
}

header .content__title h2 {
  font-size: 1.5rem;
  color: #fbfbfb;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.685);
}

header .content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

header .content__img .main-img {
  width: 350px;
  padding: 0 5rem;
}

header .content__img .frame {
  position: relative;
  display: none;
  width: 200px;
  height: 200px;
}

header .content__img .frame .frame-img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 30% 80%;
     object-position: 30% 80%;
  overflow: hidden;
  border: 3px solid #133c55;
  border-radius: 20%;
  -webkit-box-shadow: 0px 2px 5px #133c55;
          box-shadow: 0px 2px 5px #133c55;
}

header .content__img .frame span {
  position: absolute;
  text-align: center;
  bottom: 15px;
  left: 35px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.685);
  font-weight: bold;
}

header .content__img .frame-2 {
  position: relative;
  width: 200px;
  height: 200px;
  display: none;
}

header .content__img .frame-2 .frame-img-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 60% 25%;
     object-position: 60% 25%;
  overflow: hidden;
  border: 3px solid #133c55;
  border-radius: 20%;
  -webkit-box-shadow: 0px 2px 5px #133c55;
          box-shadow: 0px 2px 5px #133c55;
}

header .content__img .frame-2 span {
  position: absolute;
  text-align: center;
  bottom: 15px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.685);
  font-weight: bold;
}

header .content h3 {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: #fbfbfb;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.685);
}

main section {
  background: #fbfbfb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(84%, #fbfbfb), to(#d1e5d9));
  background: linear-gradient(0deg, #fbfbfb 84%, #d1e5d9 100%);
}

main section .list {
  padding-top: 5rem;
  padding-bottom: 1rem;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

main section .list__content {
  margin-bottom: 6rem;
}

main section .list__content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

main section .list__content__title svg {
  width: 50px;
}

main section .list__content__title__text {
  text-align: left;
}

main section .list__content__title__text h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

main section .list__content__title__text span {
  font-style: italic;
  font-size: bold;
  font-size: 1.1rem;
  color: white;
  background-color: #fed766;
  border-radius: 2rem;
  padding: 5px 15px;
  margin-left: 0.5rem;
}

main section .list__right-content {
  margin-bottom: 6rem;
  text-align: right;
}

main section .list__right-content__title {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 2rem;
}

main section .list__right-content__title svg {
  width: 50px;
}

main section .list__right-content__title__text h3 {
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main section .list__right-content__title__text span {
  font-style: italic;
  font-size: bold;
  font-size: 1.1rem;
  color: white;
  border-radius: 2rem;
  padding: 5px 15px;
  margin-right: 0.5rem;
}

main .bms-presentation {
  background-color: #f6743c;
  margin-top: -60px;
  padding-top: 7rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px -9px 5px 0px #94381e inset;
          box-shadow: 0px -9px 5px 0px #94381e inset;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

main .bms-presentation h3 {
  margin-right: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .bms-presentation p {
  font-size: bold;
  font-size: 1.2rem;
  margin: 3rem 0;
}

footer {
  background-color: #fbfbfb;
  -webkit-box-shadow: 0px 17px 9px -px rgba(0, 0, 0, 0.75) inset;
          box-shadow: 0px 17px 9px -px rgba(0, 0, 0, 0.75) inset;
}

footer p {
  text-align: center;
  padding-bottom: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer p a {
  margin: 0 0.5rem;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer section img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150px;
  height: auto;
}

footer section .public-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

footer section .public-list a {
  color: white !important;
  background-color: #5fbb97;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 1rem 2rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

footer section .public-list a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.util-mx {
  padding-left: 1rem;
  padding-right: 1rem;
}

.util-bold {
  font-weight: bold;
}

.util-c1 {
  fill: #133c55;
}

.util-c2 {
  fill: #5fbb97;
}

.util-c3 {
  fill: #fed766;
}

.util-c4 {
  fill: #f6743c;
}

.util-c5 {
  fill: #d85531;
}

a {
  text-decoration: none;
  color: black;
}

.custom-shape-divider-top-1667476280 {
  position: relative;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667476280 svg {
  position: relative;
  display: block;
  width: calc(169% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1667476280 .shape-fill {
  fill: #fbfbfb;
}

.custom-shape-divider-top-1667477046 {
  position: relative;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667477046 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1667477046 .shape-fill {
  fill: #f6743c;
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 1250px) {
  .util-mx {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .navbar .navbar-left,
  .navbar .navbar-right {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  footer section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer section .public-list a {
    width: 250px;
  }
  footer .splitter {
    width: 3px;
    height: 300px;
    color: black;
    background-color: #133c55;
    border-radius: 100%;
    margin: 2rem;
  }
  header .content__title h1 {
    font-size: 5rem;
  }
  header .content__title h2 {
    font-size: 2rem;
  }
  header .content__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .content__img .main-img {
    width: 400px;
  }
  header .content__img .frame,
  header .content__img .frame-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */